<div class="ui active dimmer" *ngIf="!charged">
  <div class="ui text loader">Chargement</div>
</div>
<div class="ui centered grid" *ngIf="charged && actor" style="margin-top: 10px;">
  <div class="row">
    <div class="four wide column">
      <div class="ui card">
        <div class="image" *ngIf="actor.photo">
          <img [src]="actor.photo">
        </div>
        <div class="left aligned content">
          <h1 class="header">{{actor.firstName}} {{actor.name}}</h1>
          <div class="meta">
            <span class="date">{{actor.birthDate.split('-').reverse().join('/')}}<span *ngIf="actor.deathDate"> - {{actor.deathDate.split('-').reverse().join('/')}}</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <sui-tabset>
        <div class="ui top attached tabular menu">
          <a class="item" suiTabHeader="1"><i class="id card icon"></i> Biography</a>
          <a class="item" suiTabHeader="2"><i class="users icon"></i> Relations</a>
          <a class="item" suiTabHeader="3"><i class="film icon"></i> Filmography</a>
        </div>
        <div class="ui bottom attached segment" suiTabContent="1">
          <span *ngIf="actor.biography">{{actor.biography}}</span>
          <span *ngIf="!actor.biography">No biography available.</span>
        </div>
        <div class="ui bottom attached segment" suiTabContent="2">
          <div class="ui secondary segment" *ngIf="actor.partner || (actor.children && actor.children.length > 0)">
            <div class="ui cards">
              <div class="card" *ngIf="actor.partner">
                <div class="image" *ngIf="actor.partner.photo">
                  <img src="{{actor.parter.photo}}">
                </div>
                <div class="left aligned content">
                  <div class="header" *ngIf="actor.partner.firstName">{{actor.partner.firstName}} {{actor.partner.name}}</div>
                  <div class="header" *ngIf="!actor.partner.firstName">Missing name</div>
                </div>
                <div class="extra content">
                  <i class="heart icon"></i> Partner
                </div>
              </div>
              <div class="card" *ngFor="let children of actor.children" >
                <div class="image" *ngIf="children.photo">
                  <img [src]="children.photo">
                </div>
                <div class="left aligned content">
                  <div class="header" *ngIf="children.firstName">{{children.firstName}} {{children.name}}</div>
                  <div class="header" *ngIf="!children.firstName">Missing name</div>
                </div>
                <div class="extra content">
                  <i class="child icon"></i> Children
                </div>
              </div>
            </div>
          </div>
          <span *ngIf="!actor.partner && (!actor.children || actor.children.length == 0)">No relations availables.</span>
        </div>
        <div class="ui bottom attached segment" suiTabContent="3">
          <app-movie-result [movies]="actor.filmography" *ngIf="actor.filmography && actor.filmography.length > 0"></app-movie-result>
          <span *ngIf="!actor.filmography || actor.filmography.length == 0">No film found.</span>
        </div>
      </sui-tabset>
    </div>
  </div>
</div>

