<div class="ui left aligned segment" *ngIf="actor">
  <div class="ui grid">
    <div class="row">
      <h1 class="ui header">
        <img src="{{actor.photo}}" class="ui circular image" *ngIf="actor.photo">
        <div class="content">
          {{actor.firstName}} {{actor.name}}
          <div class="sub header" *ngIf="actor.birthDate">{{actor.birthDate.split('-').reverse().join('/')}}<span *ngIf="actor.deathDate"> - {{actor.deathDate.split('-').reverse().join('/')}}</span></div>
        </div>
      </h1>
    </div>
    <div class="row">
      <sui-accordion class="styled fluid">
        <sui-accordion-panel [isOpen]="true">
          <div title>
            <h2 class="ui left aligned header"><i class="id card icon"></i> Biography</h2>
          </div>
          <div content>
            <p class="left aligned">{{actor.biography}}</p>
          </div>
        </sui-accordion-panel>
      </sui-accordion>
      <sui-accordion class="styled fluid">
        <sui-accordion-panel [isOpen]="false">
          <div title>
            <h2 class="ui left aligned header"><i class="id card icon"></i> Life</h2>
          </div>
          <div content>
            <div class="column">

            </div>
          </div>
        </sui-accordion-panel>
      </sui-accordion>
    </div>
  </div>
</div>

